body {
  background-color: #333; 
}

:root {
  --primary-color: #05652D;
  --secondary-color: #E3FCE9;
  --background-color: #333;
  --text-color: #fff;
}

.admin-dashboard {
  display: flex;
  height: 100%;
  margin-top: 40px;
  background-color: var(--background-color);
}

.admin-user {
  display: flex;
  align-items: center;
  padding: 10px;
}

.admin-user .admin-icon {
  font-size: 30px;
  cursor: pointer;
  color: black;
}

.admin-user .admin-username {
  margin-left: 10px;
  font-weight: bold;
  font-size: 18px;
  color: white;
}

.admin-dashboard-nav {
  color: white;
  list-style: none;
}

.admin-dashboard-nav li {
  padding: 5px;
  color: white;
}

.admin-dashboard-nav li a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 14px;
  transition: all 0.3s ease;
}

.admin-dashboard-nav li a:hover {
  background-color: #E3FCE9; 
  color: 05652D; 
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.admin-dashboard-nav li a svg {
  margin-right: 10px;
}

.divider { 
  height: 1px;
  background-color: #ccc;
  margin: 10px 0;
}

.dropdown-menu {
  background-color: var(--primary-color);
  border: none;
}

.dropdown-item {
  color: black;
  font-size: 16px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.dropdown-item:hover {
  background-color: #05652D;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.admin-dashboard-nav li.active a {
  background-color: white;
  color: #05652D; 
  font-size: 18px;
  border-radius: 5px;
}

.admin-dashboard-nav li.active a:hover {
  color: #05652D; 
  font-size: 18px;
  background-color: transparent;
}

.admin-dashboard-nav li.active {
  background-color: white;
  border-top-left-radius: 25px;
  font-weight: bold;
  border-bottom-left-radius: 25px;
}

.admin-dashboard-logo {
  text-align: center;
  margin-bottom: 20px;
}

.admin-dashboard-logo img {
  width: 100px;
}

.admin-dashboard-nav {
  list-style: none;
  padding: 0;
}

.admin-dashboard-nav li {
  margin-bottom: 10px;
}

.admin-dashboard-nav a {
  display: flex;
  align-items: center;
  color: var(--text-color);
  text-decoration: none;
}

.admin-dashboard-nav i {
  margin-right: 10px;
}

.admin-dashboard-nav li a {
  color: var(--text-color);
  font-size: 16px;
  transition: color 0.3s ease, font-size 0.3s ease;
}

.admin-dashboard-nav li a:hover {
  color: var(--primary-color);
  font-size: 18px;
}

.admin-dashboard-content {
  flex-grow: 1;
  padding: 20px;
  margin-left: 250px;
  background-color: var(--background-color);
}

.admin-dashboard-content h2 {
  color: #05652D;
}

.admin-dashboard-content h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: var(--secondary-color);
}

.admin-dashboard-content p {
  font-size: 20px;
}

.admin-dashboard-divider-alt {
  width: 1px;
  height: 20px;
  background-color: #808080;
  margin: 0 10px;
  display: inline-block;
  vertical-align: middle;
}

.admin-dashboard-cards {
  display: flex;
  padding: 20px 0;
}

.admin-dashboard-card {
  flex: 1;
  background: var(--background-color);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-shadow: 0px 4px 12px rgba(255, 255, 255, 0.5);
}

.admin-dashboard-card:hover {
  background-color: #E3FCE9; 
}

.title-label {
  font-size: 1rem;
}

.stats {
  font-size: 2rem; 
  margin-bottom: 10px;
}

.stats-number {
  font-size: 30px;
  font-weight: bold;
  color: var(--text-color); 
  margin-bottom: 10px;
}

.stats-icon {
  font-size: 20px;
  color: gray; 
  margin-bottom: 10px;
}

.stats-label {
  font-size: 16px;
  color: var(--text-color);
}

.admin-dashboard-card:hover .stats-number, 
.admin-dashboard-card:hover .stats-icon, 
.admin-dashboard-card:hover .stats-label {
    color: var(--primary-color);
}

.admin-dashboard-recent-users {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 4px 12px rgba(255, 255, 255, 0.5);
}

.admin-dashboard-recent-users h2 {
  color: var(--secondary-color);
  margin-bottom: 10px;
}

.admin-dashboard-recent-users ul {
  list-style: none;
  padding: 0;
}

.admin-dashboard-recent-users li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.admin-dashboard-recent-users span {
  color: var(--secondary-color);
}

.icon-white {
  color: white;
}

.admin-dropdown {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.admin-user {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.divider {
  height: 1px;
  background-color: grey;
  margin-top: 5px;
  margin-bottom: 5px;
}

.admin-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: white;
  color: black; 
  transition: background-color 0.3s ease, color 0.3s ease;
}

.admin-icon:hover {
  color: white; 
  background-color: #05652D;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.admin-icon-active {
  color: white;
  background-color: #05652D;
}

.sales-dashboard-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.sales-dashboard-card {
  width: calc(50% - 10px);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(255, 255, 255, 0.5);
  margin-bottom: 20px;
  color: var(--text-color);
}

.admin-dashboard-recent-users table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif; 
}

.admin-dashboard-recent-users table thead th {
  color: white;
}

.admin-dashboard-recent-users table tbody td {
  color: white;
}

.admin-dashboard-recent-users table th, 
.admin-dashboard-recent-users table td {
  padding: 15px 20px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.admin-dashboard-recent-users table th {
  background-color: #0e330f; 
  color: white;
}

.admin-dashboard-recent-users table tr:hover {
  background-color: #f5f5f5; 
}

.admin-dashboard-recent-users table tbody tr:hover td {
  color: black;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ccc;
}

th, td {
  padding: 10px;
  text-align: left;
}

thead {
  background-color: #05652D;
  color: white;
}

th:nth-child(1),
td:nth-child(1) {
  width: 40%;
}

th:nth-child(2),
td:nth-child(2) {
  width: 40%;
}

th:nth-child(3),
td:nth-child(3),
th:nth-child(4),
td:nth-child(4),
th:nth-child(5),
td:nth-child(5) {
  width: 20%;
  text-align: center;
}

.admin-dashboard-recent-users table th:last-child,
.admin-dashboard-recent-users table td:last-child {
  text-align: right;
}

.user-image img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.admin-dashboard-content {
  flex: 1;
  padding: 20px;
  background-color: var(--background-color);
}

.user-feedback-container {
  height: 100%;
  overflow-y: auto;
}

.user-feedback-list {
  overflow-y: auto;

}

.user-feedback-list .user-feedback-item {
  color: white;
}

.user-feedback-item:hover {
  background-color: #f0f0f0;
}

.user-feedback-list .user-feedback-item:hover {
  color: black;
}

.user-feedback-list .user-feedback-item {
  color: white;
}

.user-feedback-list .user-feedback-item:hover .feedback-content,
.user-feedback-list .user-feedback-item:hover .feedback-date {
  color: black; 
}

.user-feedback-list .user-feedback-item .delete-icon svg {
  fill: #ff0000; 
}

.user-feedback-list .user-feedback-item .delete-icon:hover svg {
  fill: #ff0000;
}

.user-feedback-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.3s;
  margin-bottom: 10px;
  cursor: pointer;
}

.user-icon {
  border-radius: 50%;
  overflow: hidden;
  margin-right: 15px;
}

.user-icon img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.feedback-content {
  flex: 1;
  color: #f0f0f0;
}

.feedback-date {
  min-width: 70px;
  text-align: right;
}

.delete-icon {
  margin-left: 10px;
}

.archive-icon {
  margin-left: 10px;
}

.search-feedback {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-feedback input {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #e4e6e9;
}

.search-feedback button {
  margin-left: 10px;
  background-color: #00a562; 
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-feedback button:hover {
  background-color: #008a4e; 
}

.active {
  background-color: #b0f4c0;
}

.recent-products-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.recent-products-table th,
.recent-products-table td {
  padding: 12px;
  text-align: left;
}

.recent-products-table thead th {
  background-color: #f2f2f2;
}

.recent-products-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.recent-products-table tbody tr:hover {
  background-color: #f5f5f5;
}

.admin-dashboard-recent-users h1 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 24px;
}

.message-icon {
  cursor: pointer;
  margin-left: 10px;
  color: #05652D;
}

.message-icon:hover {
  color: #063e1e;
}
.notification-table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

.notification-item {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.notification-message {
  padding: 10px;
}

.notification-actions {
  text-align: right;
}

.btn-action {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.btn-delete {
  background-color: #f44336; 
  color: white;
}

.btn-mute {
  background-color: #4CAF50; 
  color: white;
}

.featured-pictures-container,
.top-picked-pictures-container,
.posted-photos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.featured-picture,
.top-picked-picture,
.posted-photo {
  position: relative;
  border: 1px solid #ccc;
  padding: 10px;
  transition: transform .2s ease;
}

.featured-picture:hover,
.top-picked-picture:hover,
.posted-photo:hover {
  transform: scale(1.05);
}

.category-input,
.category-info {
  margin-top: 10px;
}

.delete-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  border: none;
  cursor: pointer;
  transition: background-color .2s ease;
}

.delete-button:hover {
  background-color: darkred;
}

.shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.admin-dashboard-header {
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.notification-icon {
  cursor: pointer;
  font-size: 24px; 
}

.admin-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #05652D;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.admin-logo {
  height: 40px;
}

.logout-link {
  text-decoration: none;
  color: #05652D;
  font-weight: bold;
  transition: color 0.3s;
}


.view-link {
  background-color: #E3FCE9; 
  color: #05652D;
  padding: 8px 15px;
  border-radius: 20px; 
  margin: auto; 
  text-align: center; 
  cursor: pointer;
  display: block; 
  transition: background-color 0.3s, box-shadow 0.3s; 
  text-decoration: none; 
}x

.view-link:hover {
  background-color: #05652D; 
  color: #E3FCE9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.logout-link:hover {
  color: #537e63;
}

.admin-dashboard-sidebar {
  background-color: var(--primary-color);
  color: black;
  width: 250px;
  height: calc(100% - 60px);
  position: fixed;
  top: 60px;
  left: 0;
  padding-top: 20px;
  box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.3);
}

.notification-container {
  display: flex;
  align-items: center;
}

.notification-bell {
  position: relative;
  cursor: pointer;
  margin-right: 15px;
}

.notifications-list {
  position: absolute;
  top: 30px;
  right: 0;
  width: 300px;
  border: 1px solid #ccc;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 5px;
  z-index: 10;
  max-height: 600px; 
  overflow-y: auto;
}

.notifications-list p {
  padding: 10px;
  border-bottom: 1px solid #f0f0f0;
}

.notifications-list p:last-child {
  border-bottom: none;
}

.notification-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 1px solid #f0f0f0;
}

.notification-item p {
  flex: 1;
  margin: 0;
  padding: 0 10px;
  color: black;
}

.notification-item button.delete {
  color: red;
}

.notification-item button.mute {
  color: orange;
}

.notification-item button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  padding: 5px;
  font-size: 14px;
  transition: color 0.2s ease-in-out;
}

.notification-item button:hover {
  color: #0056b3;
}

.notifications-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.delete-all, .mute-all {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 14px;
  transition: color 0.2s ease-in-out;
  padding: 5px 10px;
}

.delete-all {
  color: #ff0000;
  margin-right: 10px;
}

.mute-all {
  color: #674c1d;
}

.delete-all:hover {
  color: #cc0000;
}

.no-notifications {
  text-align: center;
  padding: 10px;
  color: #888;
}
.styled-bell {
  color: #E3FCE9;
  font-size: 25px;  
}

.logout-link {
  background-color: #E3FCE9;
  color: #05652D;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.logout-link:hover {
  background-color: #034a22;
  text-decoration: none;
}

.settings-dropdown {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.settings-dropdown a {
  color: inherit; 
  text-decoration: none;
  color: #fff;
}

.settings-dropdown-icon {
  cursor: pointer;
  color: var(--text-color);
}

.settings-icon-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 10px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  max-height: 80vh;
  position: relative;
  width: 80%;
  overflow-y: auto;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding-bottom: 20px;
}

.admin-profile-container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.admin-username {
  font-size: smaller; 
  display: block;
}

.admin-firstname {  
  font-size: larger; 
  font-weight: bold;
}

.modal-close-button {
  background-color: #05652D; 
  color: white; 
  padding: 10px 20px;
  border: none; 
  border-radius: 5px; 
  font-weight: bold; 
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s; 
}

.modal-close-button:hover {
  background-color: #E3FCE9; 
  color: #05652D;
  transform: scale(1.05); 
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #E3FCE9;
  color: black;
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
  background-color: #05652D;
  color: white; 
}

.pagination span {
  margin: 0 10px;
}
.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-controls button {
  padding: 5px 10px;
  margin: 0 5px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination-controls button:hover {
  background-color: #e0e0e0;
}

.pagination-controls button:disabled {
  color: #999;
  cursor: not-allowed;
  background-color: #f0f0f0;
}

.pagination-controls button:disabled {
  background-color: #05652D;
  color: white;
}

.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.ReactModal__Content {
  position: relative;
  background: #fff;
  max-width: 600px;
  width: 90%;
  border-radius: 8px;
  padding: 20px;
  overflow: auto;
}

.modal-close-button {
  position: absolute;
  top: 16px; 
  right: 16px;
  background: none;
  border: none;
  font-size: 24px; 
  cursor: pointer;
  color: #333; 
  z-index: 10;
}

.modal-close-button:hover {
  color: #666; 
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modal-title {
  font-size: 24px;
  color: #333;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
  align-items: flex-start; 
  gap: 20px; 
  margin-top: 20px;
  max-height: 500px;
  overflow-y: auto;
}

.product-card {
  display: flex;
  flex-direction: column; 
  align-items: center;
  width: 200px;
  background: #f7f7f7;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-image {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.product-name, .product-category {
  text-align: center;
  color: #333;
  font-size: 14px;
  margin-top: 5px;
}
.donation-item img {
  width: 100px; 
  height: auto;
  border-radius: 4px;
}

.donation-item {
  margin-bottom: 20px;
}

.statistics-title {
  cursor: pointer;
  transition: color 0.3s ease;
}

.statistics-title:hover {
  color: #008000;
}

.month-navigation {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.month-button {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}

.month-button:hover {
  background-color: white;
  color: white;
}

.unread-count {
  background-color: red;
  color: white;
  border-radius: 50%; 
  padding: 0.25em 0.5em; 
  font-size: 0.75em;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

.notification-item.unread {
  background-color: #f8d7da; 
  border-left: 4px solid red;
}

.disable-product-button {
  background: #05652D;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  display: block;
  width: 100%;
  }
  .user-profile-pic {
    width: 40px;
    height: 40px;
    object-fit: cover; 
    border-radius: 50%; 
  }
  .photo-cell {
    width: 70px;
    text-align: center;
  }
