/* Admin.css */

:root {
  --primary-color: #E3FCE9;
  --secondary-color: #05652D;
  --background-color: #f1f1f1;
  --text-color: #333;
}

.admin-dashboard {
  display: flex;
  height: 100%;
}

.admin-dashboard-sidebar {
  background-color: var(--primary-color);
  color: black;
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20px;
  box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.3);
}

.admin-user {
  display: flex;
  align-items: center;
  padding: 10px;
}

.admin-user .admin-icon {
  font-size: 30px;
  cursor: pointer;
  color: black;
}

.admin-user .admin-username {
  margin-left: 10px;
  font-weight: bold;
  font-size: 18px;
  color: black;
}

.admin-dashboard-nav {
  list-style: none;
  padding: 0;
}

.admin-dashboard-nav li {
  padding: 15px;
}

.admin-dashboard-nav li a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 16px;
  transition: all 0.3s ease;
}

.admin-dashboard-nav li a:hover {
  background-color: #05652D; 
  color: white; 
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.admin-dashboard-nav li.active a {
  color: #05652D; 
  font-size: 18px;
  background-color: transparent;
}

.admin-dashboard-nav li a svg {
  margin-right: 10px;
}

.divider {
  height: 1px;
  background-color: #444;
  margin: 10px 0;
}

.dropdown-menu {
  background-color: var(--primary-color);
  border: none;
}

.dropdown-item {
  color: black;
  font-size: 16px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.dropdown-item:hover {
  background-color: #05652D;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.admin-dashboard-nav li.active a {
  background-color: transparent;
  border-radius: 5px;
}

.admin-dashboard-nav li.active a:hover {
  color: #05652D; 
  font-size: 18px;
  background-color: transparent;
}

.admin-dashboard-logo {
  text-align: center;
  margin-bottom: 20px;
}

.admin-dashboard-logo img {
  width: 100px;
}

.admin-dashboard-nav {
  list-style: none;
  padding: 0;
}

.admin-dashboard-nav li {
  margin-bottom: 10px;
}

.admin-dashboard-nav a {
  display: flex;
  align-items: center;
  color: var(--text-color);
  text-decoration: none;
}

.admin-dashboard-nav i {
  margin-right: 10px;
}

.admin-dashboard-nav li a {
  color: var(--text-color);
  font-size: 16px;
  transition: color 0.3s ease, font-size 0.3s ease;
}

.admin-dashboard-nav li a:hover {
  color: var(--primary-color);
  font-size: 18px;
}

.admin-dashboard-content {
  flex: 1;
  padding: 20px;
  margin-left: 250px;
  background-color: var(--background-color);
}

.admin-dashboard-content h2 {
  color: #05652D;
}

.admin-dashboard-content h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: var(--secondary-color);
}

.admin-dashboard-content p {
  font-size: 20px;
}

.admin-dashboard-divider-alt {
  width: 1px;
  height: 20px;
  background-color: #808080;
  margin: 0 10px;
  display: inline-block;
  vertical-align: middle;
}

.admin-dashboard-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.admin-dashboard-card {
  width: calc(50% - 10px);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
  color: var(--text-color);
}

.title-label {
  color: var(--secondary-color);
  text-align: center;
}

.stats {
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  color: var(--text-color);
}

.admin-dashboard-recent-users {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: var(--text-color);
}

.admin-dashboard-recent-users h2 {
  color: var(--secondary-color);
  margin-bottom: 10px;
}

.admin-dashboard-recent-users ul {
  list-style: none;
  padding: 0;
}

.admin-dashboard-recent-users li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.admin-dashboard-recent-users span {
  color: var(--secondary-color);
}

.icon-white {
  color: white;
}

.admin-dropdown {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.admin-user {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.divider {
  height: 1px;
  background-color: grey;
  margin-top: 5px;
  margin-bottom: 5px;
}

.admin-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: white;
  color: black; 
  transition: background-color 0.3s ease, color 0.3s ease;
}

.admin-icon:hover {
  color: white; 
  background-color: #05652D;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sales-dashboard-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.sales-dashboard-card {
  width: calc(50% - 10px);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  color: var(--text-color);
}

.admin-dashboard-recent-users table td {
  text-align: left;
}

.admin-dashboard-recent-users table td:last-child {
  text-align: right;
}

.admin-dashboard-recent-users table td svg {
  margin: 0 0.5rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  padding: 8px;
}

td {
  text-align: left;
  padding: 8px;
}

th:nth-child(1),
td:nth-child(1) {
  width: 40%;
}

th:nth-child(2),
td:nth-child(2) {
  width: 40%;
}

th:nth-child(3),
td:nth-child(3),
th:nth-child(4),
td:nth-child(4),
th:nth-child(5),
td:nth-child(5) {
  width: 20%;
  text-align: center;
}

.admin-dashboard-recent-users table th:last-child,
.admin-dashboard-recent-users table td:last-child {
  text-align: right;
}

.donation-table {
  width: 100%;
  border-collapse: collapse;
}

.donation-table th,
.donation-table td {
  padding: 12px;
  text-align: left;
}

.donation-table th {
  background-color: #05652d;
  color: #fff;
}

.donation-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.donation-table tr:hover {
  background-color: #ddd;
}

.user-image img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.admin-dashboard-content {
  flex: 1;
  padding: 20px;
  background-color: #f0f0f0;
}

.user-feedback-container {
  height: 100%; /* Set the height of the container to 100% of its parent (admin-dashboard-content) */
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
}

.user-feedback-list {
  display: flex;
  flex-direction: column;
}

.user-feedback-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.user-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #05652d;
  color: #fff;
  margin-right: 10px;
}

.feedback-content {
  flex: 1;
  margin-right: 10px;
}

.feedback-date {
  min-width: 70px;
  text-align: right;
}

.active {
  background-color: #b0f4c0;
}

.recent-products-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.recent-products-table th,
.recent-products-table td {
  padding: 12px;
  text-align: left;
}

.recent-products-table thead th {
  background-color: #f2f2f2;
}

.recent-products-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.recent-products-table tbody tr:hover {
  background-color: #f5f5f5;
}

.admin-dashboard-recent-users {
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.admin-dashboard-recent-users h1 {
  padding: 16px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.admin-dashboard-recent-users table {
  width: 100%;
  border-collapse: collapse;
}

.admin-dashboard-recent-users th,
.admin-dashboard-recent-users td {
  padding: 12px;
  text-align: left;
}

.admin-dashboard-recent-users thead th {
  background-color: #f2f2f2;
  color: #333;
  font-weight: bold;
}

.admin-dashboard-recent-users tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.admin-dashboard-recent-users tbody tr:hover {
  background-color: #f5f5f5;
}

.message-icon {
  cursor: pointer;
  margin-left: 10px;
  color: #05652D;
}

.message-icon:hover {
  color: #063e1e;
}
.notification-table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

.notification-item {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.notification-message {
  padding: 10px;
}

.notification-actions {
  text-align: right;
}

.btn-action {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.btn-delete {
  background-color: #f44336; 
  color: white;
}

.btn-mute {
  background-color: #4CAF50; 
  color: white;
}



