
.container-fluid {
    background: linear-gradient(to right, #E3FCE9, #BEF7CC);
    padding: 50px 0;
}

.card {
    background-color: #FAFAFA;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin-top: 10px;
    padding: 30px;
}

.card:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.txtinput {
    position: relative;
    width: 100%;
}

.txtinput input {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid #05652D;
    transition: all 0.3s ease;
}

.txtinput input:focus {
    border-color: #499f68;
    box-shadow: 0px 0px 10px rgba(72, 159, 104, 0.3);
}

.txtinput label {
    position: absolute;
    top: -20px;
    left: 10px;
    font-size: 12px;
    color: #05652D;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #499f68;
}

.change-password-title {
    color: #05652D;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.change-password-button {
    width: 100%;
    border-color: #05652D;
    background-color: #05652D;
    color: white;
}
