.my-5 {
    margin-top: 2.5rem !important;
    margin-bottom: 2.5rem !important;
  }
  
  .shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  }
  
  .text-center {
    text-align: center !important;
  }
  
  .mb-4 {
    margin-bottom: 1.5rem !important;
  }
  
  .p-4 {
    padding: 1.5rem !important;
  }
  
  .h1 {
    font-size: 2.5rem;
    font-weight: 500;
  }
  
  .fw-bold {
    font-weight: 700 !important;
  }
  
  .mx-1 {
    margin-left: 0.25rem !important;
    margin-right: 0.25rem !important;
  }
  
  .mx-md-3 {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
  
  .mt-2 {
    margin-top: 0.5rem !important;
  }
  
  .text-or {
    color: #868e96 !important;
  }
  
  .icon-link {
    color: #495057 !important;
  }
  
  .icon-link:hover {
    color: #212529;
  }
  
  .icon {
    width: 24px;
    height: 24px;
  }
  
  .divider::before,
  .divider::after {
    flex: 1;
    height: 1px;
    background-color: #dee2e6;
    content: '';
  }
  
  .divider::before {
    margin-right: 0.75em;
  }
  
  .divider::after {
    margin-left: 0.75em;
  }
  