.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

.icon-link {
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .icon-link:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .icon {
    width: 40px;
    height: 40px;
  }

  
  
  
  