.text-or {
    text-align: center;
    font-weight: bold;
    margin-bottom: 0;
    position: relative;
    text-decoration: none;
    overflow: hidden;
  }
  
  .text-or::before,
  .text-or::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 40%;
    top: 50%;
    background: #000;
  }
  
  .text-or::before {
    left: 0;
    margin-right: 5%;
  }
  
  .text-or::after {
    right: 0;
    margin-left: 5%;
  }
  
  .text-or span {
    background: #fff;
    padding: 0 10px;
    position: relative;
    z-index: 1;
  }