.wishlist {
    padding-top: 80px;
  }
  .out-of-stock-box {
    color: red;
  }
  
  .in-stock-box {
    color: green;
  }

  .remove-button {
    background-color: red;
    color: white;
    border: white;
    cursor: pointer;
    padding: 10;
    font-weight: bold;
  }
  
  .remove-button:hover {
    color: green;
  }
  
  